# adapted from https://github.com/tauri-apps/tauri-action/blob/dev/examples/test-build-only.yml
name: Build-Linux

on: workflow_dispatch

jobs:
  test-tauri:
    strategy:
      fail-fast: false

    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ '' }}

      - name: install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf

      - name: install frontend dependencies
        run: npm install

      # If tagName and releaseId are omitted tauri-action will only build the app and won't try to upload any assets.
      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: ${{ "" }}

          
      - name: Upload Binary
        uses: actions/upload-artifact@v4
        with:
          name: BeamMP-Server-Manager
          path: src-tauri/target/release/BeamMP-Server-Manager

